@media only screen and (max-width: 576px) {
  body {
    width: 576px;
    margin: 0px;
  }
  .nav-bar {
    display: none;
  }
  nav h5 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
  }
  .font-part {
    display: block;
  }
  /* .part-2 {
    margin-top: 400px;
  } */
  .part-1 > h2 {
    font-size: 28px;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 30px;
  }
  .part-1 > p {
    font-size: 14px;
    text-align: center;
  }
  .part-1 > a > .btn {
    margin: 0px auto;
  }
  .part-1 {
    margin-top: 400px;
    justify-content: center;
  }
  .not {
    display: none;
  }
  .camera {
    width: 202px;
    height: 190px;
    margin: 0px auto;
  }
  .circle {
    width: 257px;
    height: 257px;
    margin: 0px auto;
  }

  .logo-bar {
    justify-content: center;
    margin: 0px;
  }
  .logo-bar img {
    width: 57px;
    height: 15px;
    margin-top: 30px;
    padding: 0px;
  }
  hr {
    display: none;
  }

  .popular-collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .see-more-btn {
    margin: 0px;
    position: absolute;
    left: 200px;
  }
}
